/* Texte lisible */
body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Focus clavier visible */
a:focus-visible,
button:focus-visible,
input:focus-visible {
  outline: 3px solid #000;
  outline-offset: 3px;
}

/* Formulaire */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* Bouton large et clair */
button {
  padding: 14px;
  font-size: 1rem;
  cursor: pointer;
}

/* Classe screen reader */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.header {
    height: 7rem;
}
.header img {
    height: 7rem;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 2rem 1rem 0rem 1rem;
    display: flex;
    align-items: center;
    height: 3rem;
    max-width: 100vw;
}
.mail img {
    width: 3rem;
    height: 3rem;
}
.insta img {
    width: 2.5rem;
    height: 2.5rem;
}